/* Header.css */
.header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    text-align: left;
}

.name {
    font-size: 36px;
    margin-bottom: 10px;
}

.desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social li {
    display: inline-block;
    margin: 0 10px;
}

.social a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social a:hover {
    background-color: #fff;
    color: gray;
}
